-- Disable RLS on payment tables for testing
ALTER TABLE IF EXISTS public.payment_history DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.payment_schedules DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS public.payment_approvals DISABLE ROW LEVEL SECURITY;

-- Refresh schema cache
SELECT pg_notify('pgrst', 'reload');